# OS
.DS_Store
Thumbs.db

# Python cache and artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.cache/

# Packaging
build/
dist/
*.egg-info/
.eggs/

# Environments
.env
.env.*
.venv/
venv/
env/

# Tooling/IDE
.vscode/
.idea/

# Coverage/Reports
.coverage
.coverage.*
htmlcov/
coverage.xml

# Streamlit
.streamlit/
